@layer base {
    body {
        background-image: url("../images/bg-pattern.svg");
        background-repeat: repeat;
        background-position: center;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
    }
}